body{
	background-color: #FFFCF8;
	margin: 0;
    padding: 0;
   
    
	}

    #menubar{
        background-color: #FFFCF8;
        background: url(bilder/pillars_of_creation.jpg) no-repeat top;
        background-size: 100% ;
    }

#main{
    margin-top: 60px;
    /*flex:1;*/
    height: 100%;
    width: 100%;
    margin-left: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFCF840;
    position: absolute;
    
}

#main h1{
    text-decoration: none;
    font-size: 15px;
    padding-left: 0px;
    font-family: 'Montserrat', sans-serif;

}

#main p{
    margin-top: 10px;

}

#kaemmerchen{
    padding: 20px;
    background-color: #FFFCF8;
    display: flex;
    padding-right: 30px;
    height: fit-content;
    
}

#kaemmerchen img{
    height: 350px;
    margin-top: 20px;
    
    
}

.sc{
   
    width: fit-content;
    margin-right: 10px;
}

#ktext{
    margin-left: 10px;
}

#sudoku_app{
    padding: 20px;
    background-color: #FFFCF8;
    display: flex;
    padding-right: 30px;
}

#sudoku_app img{
    margin-left: 15px;
    height: 300px;
    margin-top: 10px;
}

#sudoku_py{
    padding: 20px;
    background-color: #D5C1E0;
    display: flex;
    padding-right: 30px;
}

#sudoku_py img{
    margin-top: 10px;
    margin-left: 0;
    margin-right: 20px;
}

#sudoku_gen{
    padding: 20px;
    background-color: #FFFCF8;
    display: flex;
    padding-right: 30px;

}

#sudoku_gen img{
    margin-left: 15px;
    height: 200px;
    margin-top: 10px;
    
}

@media (max-width: 870px) {
    #sudoku_app{
        display: block;
    }
    #sudoku_py{
        display: block;
    }
    #sudoku_gen{
        display: block;
    }
    #kaemmerchen{
        display: block;
    }
    #kaemmerchen img{
        height: 450px;
    }
}

.slideshow-container {
   
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #FFFCF850;
  }
  
  .text {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    width: auto;
    margin: auto;
  }
  
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }